@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
}

body {
    min-width: 320px;
}

body, input, textarea, button, a {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 50px;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #000000;
}

img {
    object-fit: contain;
}

.header {
    position: relative;
    min-height: calc(100vh - 50px);

    display: flex;
    flex-flow: column nowrap;
    padding: 50px 0;
}


.header .container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex-grow: 1;
}

.header-video {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.header-title {
    font-size: 136px;
    margin-bottom: 30px;
    font-weight: normal;
    transition: .6s all;
}

.header-title span {
    font-weight: bold;
}

.header-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.header-image {
    margin-left: 55px;
    max-height: 300px;
    transition: .6s all;
}

.header-features {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 10px;
    padding-bottom: 15px;
    margin-left: 50px;
    font-size: 52px;
    text-align: right;
}

.header-button, .feature-button {
    color: #FFFFFF;
    background-color: #6d115e;
    text-align: center;

    padding: 20px 55px;
    border-radius: 50px;
    font-size: 36px;
    font-weight: 500;

    align-self: flex-end;
    margin-right: auto;
    margin-left: 75px;
    margin-bottom: 50px;
    
    transition: .3s all;
    user-select: none;
}

.header-button:hover, .feature-button:hover {
    color: #34063c;
    background-color: #e4af00;
}

.feature {
    background-image: linear-gradient(to top, #e4af00 0%, #e6b980 100%);
    padding: 100px 0;
}

.feature-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.feature-items__image {
    border-radius: 100%;
    border: 3px solid #34063c;
    background-color: #e4af007A;
    padding: 15px;
}

.feature-product__wraper {
    display: flex;
    flex-flow: column nowrap;
}

.feature-product {
    margin: 0 100px;
    margin-top: 15px;
    max-width: 250px;
    animation: pulse 3s infinite;
}

.feature-button {
    font-size: 23px;
    padding: 15px 65px;
    margin: 5px auto;
    margin-top: 50px;
    border: 3px solid transparent;
}

.feature-button:hover {
    border: 3px solid #34063c;
}

.feature-items__image {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-items__feature {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.feature-items__image > img {
    max-width: 65px;
    transform: scale(1);
    transition: 2s all;
}

.feature-items__image:hover > img {
    transform: scale(1.7);
}

.feature-items__text {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: 500;
}

.reviews {
    padding: 100px 0;

    background: #304352;
    background: linear-gradient(to top, #304352, #d7d2cc);
    
}

.reviews .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.reviews__item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    margin-top: 55px;
    border: 3px solid #34063c;
    padding: 25px 50px;
    background-color: #d7d2cc6A;
}

.reviews__image {
    border-radius: 100%;
    margin-top: -125px;
    border: 3px solid #34063c;   
}

.reviews__name {
    margin-top: 10px;
    font-weight: bold;
    font-size: 28px;
}

.reviews__text {
    margin-top: 15px;
    text-align: justify;
    font-size: 22px;
}

.promo {
    padding-top: 50px;

    background: #8e9eab;
    background: linear-gradient(to top, #eef2f3, #8e9eab);
}

.promo-info {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.promo-info img {
    max-width: 500px;
    margin-right: 75px;
}

.promo-info__text {
    max-width: 500px;
    font-size: 26px;
}

.promo-info__text p {
    margin-bottom: 15px;
}

.promo-features {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    gap: 25px;

    font-size: 26px;
}

.promo-button {
    font-size: 26px;
    transition: .3s all;
    padding: 10px 35px;
    border-radius: 45px;
    font-weight: bold;
}
.promo-button:hover {
    color: #FFFFFF;
    background-color: #6d115e;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 1300px)
{
    .reviews__item {
        padding: 25px;
    }
    .reviews__text {
        font-size: 19px;
    }
    .promo-info {
        justify-content: center;
    }
    .promo-info img {
        margin-right: 35px;
        max-width: 250px;
    }
    .promo-info__text {
        flex-grow: 1;
        font-size: 24px;
    }
}

@media screen and (max-width: 1024px)
{
    .container {
        padding: 0 45px;
    }
    .header-title {
        font-size: 96px;
        text-align: center;
    }
    .header-info {
        display: grid;
        grid-template-areas: 
                                "i f"
                                "b b";
        justify-content: center;
    }
    .header-image {
        grid-area: i;
        justify-self: center;
        align-self: center;
    }
    .header-features {
        grid-area: f;
        text-align: left;
    }
    .header-button {
        font-size: 26px;
        grid-area: b;
        margin: 0 auto;
        margin-top: 50px;
    }
    .reviews .container {
        display: flex;
        flex-flow: row wrap;
    }
    .reviews__item {
        width: 400px;
        flex-grow: 1;
    }
    .reviews__item {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px)
{
    .container {
        padding: 0 40px;
    }
    .header-image {
        max-width: 175px;
        margin-left: -15px;
    }
    .header-features {
        font-size: 42px
    }
    .feature-wrap {
        flex-flow: column nowrap
    }
    .feature-items {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 50px;
        gap: 50px;
        width: 100%;
    }
    .feature-items:last-child {
        order: 2;
    }
    .feature-product__wraper {
        order: 3;
        margin-top: 25px;
    }
    .feature, .reviews {
        padding: 50px 0;
        padding-top: 75px;
    }
    .feature-items__text {
        margin-bottom: 35px;
    }
    .reviews .container {
        display: flex;
        flex-flow: row wrap;
    }
    .promo-info__text {
        font-size: 22px;
    }
    .promo-info img {
        max-width: 150px;
    }
    .promo-features {
        flex-flow: row wrap;
    }
}

@media screen and (max-width: 600px)
{
    .container {
        padding: 0 35px;
    }
    .header-title {
        font-size: 17vw;
    }
    .header-features {
        font-size: 36px;
        margin-left: 0;
        gap: 0;
    }
    .header-image {
        margin-left: 0;
        margin-right: 15px;
        max-width: 115px;
    }
    .header-button {
        width: 100%;
        font-size: 26px;
        padding: 15px 30px;
    }
    .feature-items {
        padding: 0;
        flex-flow: row wrap;
        gap: 0;
    }
    .feature-items__feature {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    .feature-items__text {
        font-size: 26px;
    }
    .feature-product {
        max-width: 220px;
    }
    .reviews__text {
        font-size: 16px;
    }
    .promo-info {
        flex-flow: column nowrap;
    }
    .promo-info img {
        margin-right: 0;
        margin-bottom: 25px;
    }
    .promo-info__text {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .container {
        padding: 0 30px;
    }
    .header-title {
        font-size: 15vw;
    }
    .header-features {
        font-size: 26px;
        padding-bottom: 0;
    }
    .header-image {
        max-width: 75px;
        margin-right: 15px;
    }
    .header-button {
        font-size: 19px;
        padding: 15px 30px;
    }
    .promo-info__text {
        font-size: 21px;
    }
}

@media screen and (max-width: 400px) {
    .feature-items {
        flex-flow: row nowrap;
        padding: 0;
        gap: 10px;
    }
    .feature-product {
        margin: 25px auto;
    }
    .feature-product__wraper {
        width: 100%;
    }
    .feature-items__image {
        min-width: 75px;
        max-width: 75px;
        min-height: 75px;
        max-height: 75px;
    }
    .feature-items__text {
        font-size: 22px;
    }
}